<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ZoomOutCase" value="2" />
    <add key="Timer" value="50" />
    <add key="Max_Minute_IDLE_Opponent" value="1" />
    <add key="GMA_Monitor_Visible" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PathFileBoard" value="C:\Chess\CoordonneesBoard.txt" />
    <add key="PathGamesFile" value="C:\Chess\Logs\Game_" />
    <add key="PathPiecesFile" value="C:\Chess\Logs\Pieces_" />
    <add key="Board" value="C:\Chess\Logs\Board.bmp" />    
    <add key="IndexFile" value="C:\Chess\IndexFile.txt" />
    <add key="Interface" value="C:\Chess\Interface.Log" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISquareTimeProcessingService" />
        <binding name="BasicHttpBinding_IWhitePieces" />
        <binding name="BasicHttpBinding_IWhitePieces1" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ISquareTimeProcessingService" />
        <binding name="NetTcpBinding_IWhitePieces" />
        <binding name="NetTcpBinding_IWhitePieces1" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8083/WhitePieceService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IWhitePieces" contract="WhitePiecesService.IWhitePieces"
        name="BasicHttpBinding_IWhitePieces" />
      <endpoint address="net.tcp://localhost:8093/WhitePieceService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWhitePieces"
        contract="WhitePiecesService.IWhitePieces" name="NetTcpBinding_IWhitePieces">
        <identity>
          <userPrincipalName value="yv.tremblay@corp.ad.cginet" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8081/SquareTimeProcessingService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISquareTimeProcessingService"
        contract="SquareTimeProcessingService.ISquareTimeProcessingService"
        name="BasicHttpBinding_ISquareTimeProcessingService" />
      <endpoint address="net.tcp://localhost:8090/SquareTimeProcessingService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISquareTimeProcessingService"
        contract="SquareTimeProcessingService.ISquareTimeProcessingService"
        name="NetTcpBinding_ISquareTimeProcessingService">
        <identity>
          <userPrincipalName value="yv.tremblay@corp.ad.cginet" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8083/WhitePieceService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IWhitePieces" contract="PBlanches.IWhitePieces"
        name="BasicHttpBinding_IWhitePieces" />
      <endpoint address="net.tcp://localhost:8093/WhitePieceService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWhitePieces"
        contract="PBlanches.IWhitePieces" name="NetTcpBinding_IWhitePieces">
        <identity>
          <userPrincipalName value="CGI\yv.tremblay" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>